.profile__name-button-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 16px;
}

@media screen and (max-width: 700px) {
  .profile__name-button-container {
    justify-self: center;
  }
}

@media screen and (max-width: 545px) {
  .profile__name-button-container {
    column-gap: 10px;
  }
}
