.popup__error-container {
  margin-top: 5px;
  min-height: 30px;
  max-width: 358px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
}

.popup__error-container:last-of-type {
  margin-bottom: 6px;
}
